

<app-layout>
  <div class="jumbotron">
    <h1><h1>{{title}}</h1></h1>
    <p>
      In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
    </p>
  </div>
  <div class="row">
    <div class="col">
      <nav class="nav nav-pills nav-justified">
        <a class="nav-link active" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/products">Products</a>
      </nav>
    </div>
  </div>
<router-outlet></router-outlet>
<app-messages></app-messages>
</app-layout>